/*
--EQUIPO
- Lilia Soto Llamas 20460040
- Max Yahir Rodríguez González 20460278
- Ramses Patiño Cortés 20460181
*/

.contenedor_tabla {
    background-color: #EEF0F1;
    box-shadow: 15px 5px 10px #CFD2E4;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}
.formm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

input {
    width: 250px;
    padding: 5px; 
}

button{
    width: 265px;
    padding:10px; 
    background-color: #36A2EB; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    color: white;
    background-color: #67c2ff;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}