/*
--EQUIPO
- Lilia Soto Llamas 20460040
- Max Yahir Rodríguez González 20460278
- Ramses Patiño Cortés 20460181
*/

#contenedor-principal {
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    background-image: url('../imagenes/SDCDB.png'); /* Reemplaza 'tu-imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    display: flex;
    flex-direction: column;
  }