body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1C1C1C;
    padding: 10px; 
}

nav a{
    text-decoration: none;
    padding: 5px 5px;
    color: white;
}

nav a:hover{
    color: yellow;
    background-color: grey;
}

nav a.active{
    color: #2A2A2D;
    background-color: #F0F8FF;
}

nav div {
    margin: 0 10px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}